@*@model KressaFashionHub.Models.ViewModels.Pages.PageVM

@{
    ViewBag.Title = "Index";
}

@Html.Raw(Model.Body)

<div class="col-xs-12 col-md-2">
    @Html.Action("CategoryMenuPartial", "Shop")
</div>*@
